# Build Outputs
.next/
.turbo/
build/
dist/
out/
storybook-static/

# Dependencies
.pnp/
.pnp.js
node_modules/

# Deployment
.vercel/

# Environment Variables
**/.env*
!**/.env.example
!**/.env.schema

# IDE
.history/
.idea/
.vscode/

# Logs
*.log

# OS Files
.DS_Store
*.pem

# Testing
coverage/
