/**
 * Colors
 */

// Reds
$color-red: #fa114f;
$color-firebrick: #d7261b;
$color-mediumvioletred: #d11d69;
$color-deeppink: #fa207c;
$color-orangered: #ee412a;
$color-salmon: #ffadad;

// Oranges
$color-chocolate: #f16618;
$color-lightorange: #fa9c25;
$color-orange: #f9b400;
$color-gold: #f2c94d;

// Yellows
$color-mustard: #d49f28;
$color-lightyellow: #ffff97;
$color-papayawhip: #ffefd5;

// Greens
$color-forestgreen: #58915b;
$color-darkolive: #48763e;
$color-teal: #32ddb1;
$color-lightseagreen: #0dc583;
$color-lightgreen: #bbffbb;

// Blues
$color-midnightblue: #173567;
$color-darkroyalblue: #01548a;
$color-blue: #046afa;
$color-royalblue: #4169e1;
$color-brightblue: #0000ff;
$color-azure: #407bff;
$color-dodgerblue: #1587ff;
$color-babyblue: #a4d5ff;
$color-skyblue: #89cff0;

// Violets
$color-blueviolet: #571dd1;
$color-redpurple: #8e1737;
$color-darkorchid: #981dd1;

// Browns

// Blacks, Greys, White
$color-black: #333;
$color-darkblue: #030d2d;
$color-darkgrey: #464646;
$color-cement: #767676;
$color-mediumgrey: #ccc;
$color-lightgrey: #ededed;
$color-pink: #f7f5f5;
$color-whitesmoke: #f6f6f6;
$color-white: #fff;
