.geosearch {
  display: flex;
  justify-content: center;
  grid-row: 1 /2;
  grid-column: 2/ 3;
}

.geosearch__main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: grey;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 4rem;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.geosearch__main-time-select {
  border: none;
  -webkit-appearance: none;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: grey;
  position: relative;
}

input {
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  font-size: 1.5rem;
  color: grey;
}

.testGeoSearch {
  width: 32%;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
