.header-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-row: 1/2;
}
.picture {
  height: 100%;
  width: 100%;
  margin: auto auto;
  position: relative;
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
