@font-face {
  font-family: 'DIN1451Alt';
  src: url('../../assets/fonts/alte-din-1451-mittelschrift/din1451alt.ttf') format('truetype');
}

@font-face {
  font-family: 'VT323';
  src: url('../../assets/fonts/VT323/VT323-Regular.ttf') format('truetype');
}

$phone: 812px;
$desktop: 900px;

.select {
  @media  screen and (max-width: $phone) {
    margin-top: 5px;
    max-width: 90%;
    margin-left: 15px;
  }
  @media  screen and (min-width: $desktop) {
    margin-top: 20px;
    max-width: 90%;
    margin-left: 15px;
  }
}

.chart {
  @media  screen and (max-width: $phone) {
    margin-top: 10px;
    height: 90%;
  }
  @media  screen and (min-width: $desktop) {
    margin-top: 80px;
    height: 90%;
  }
}