.header-container {
  @media #{$bp-desktop-up} {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    height: auto;
    width: 100vw;
    padding: 1em 1.5em;
    background-color: white;
    color: black;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.055em;

    h1 {
      font-size: #{map-get($font-size-h1, desktop)};
      font-weight: #{map-get($font-weight, normal)};
      line-height: #{map-get($line-height-h1, desktop)};;
      letter-spacing: 0;
    }

    .picture {
      @media (prefers-color-scheme: dark) {
        border-radius: 50px;
      }

      flex: 0.65 0 auto;
      min-width: 230px;
      background-image: url("../../assets/images/logo.png");
      background-repeat: no-repeat;
    }
  }
}
