.header-container {
  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    height: auto;
    width: 100vw;
    padding: 1em 1.5em;
    background-color: white;
    color: black;
    font-size: 2.5em;
    line-height: 29px;
    letter-spacing: 0.055em;

    h1 {
      font-size: 1.8em;
      font-weight: 500;
      line-height: 1.2em;
      letter-spacing: 0;
    }

    .picture {
      @media (prefers-color-scheme: dark) {
        border-radius: 50px;
      }

      flex: 0.65 0 auto;
      min-width: 230px;
      background-image: url("../../assets/images/logo.png");
      background-repeat: no-repeat;
    }
  }
}
