.instructions-container {
  display: flex;
  align-items: stretch;
  height: auto;
  width: 100vw;
  background-color: #e5e5e5;
  color: black;
  font-size: 2.5em;

  h2 {
    margin: 2em 2em 0 3em;
    font-size: 1.2em;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0;
    letter-spacing: 0;
  }
}

.instructions {
  flex-direction: column;
  align-content: center;
  margin: 1em;
  padding: 1em 3em 0 0;
  line-height: 30px;

  ul {
    margin: 0.5em 1em 0 1em;
  }

  button {
    font-family: Roboto;
    font-weight: 500;
    line-height: 2.5em;
    font-size: 1em;
    letter-spacing: 1.5px;
    margin: 1em 25% 0 25%;
    min-width: 22em;
    color: white;
    background-color: black;
  }
}

.button-container {
  display: flex;
  align-items: stretch;
  background-color: white;
  font-size: 2em;

  button {
    font-family: Roboto;
    font-weight: 500;
    line-height: 2.3em;
    font-size: 1em;
    letter-spacing: 1.5px;
    margin: 0 0 1em 37em;
    min-width: 22em;
    color: white;
    background-color: black;
  }
}
