@import "./components/geosearch";
@import "./components/mainMap";

@import "./components/header";
@import "./components/map";
@import "./components/sidebar";

.App {
  display: grid;
  grid-template-columns: 30rem 3.5fr;
  grid-template-rows: 5rem 1fr;
  grid-gap: 1rem;
  height: 100%;
  width: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 30px 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
