.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.4),
      #cbf3e6
    ),
    url(../../../../logo/red-car-on-the-road-1688186.jpg);
  background-size: cover;
  background-position: top;

  animation-duration: 1s;
  animation-name: backgroundShowUp;
  animation-timing-function: ease-in;
  position: relative;
  align-content: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation-name: backgroundShowUp;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  z-index: 3;

  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

.heading-primary-sub {
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 15px;

  animation-name: moveInRight;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@keyframes backgroundShowUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
  margin-top: 100px;
  border-radius: 10px;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;

  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
