.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.4),
      #cbf3e6
    ),
    url(../../../../logo/red-car-on-the-road-1688186.jpg);
  background-size: cover;
  background-position: top;

  animation-duration: 1s;
  animation-name: backgroundShowUp;
  animation-timing-function: ease-in;
  position: relative;
  align-content: center;

  display: flex;

  justify-content: center;
}

.heading-primary {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation-name: backgroundShowUp;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  z-index: 3;

  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

.heading-primary-sub {
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 15px;

  animation-name: moveInRight;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@keyframes backgroundShowUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
